<style>
  .tooltipContainer {
    padding: 8px;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
  }

  .tooltipContainer::before {
    content: "";
    transform: rotate(45deg);
    background-color: #ffffff;
  }

  .stringTipContainer {
    background-color: #777777;
    color: #ffffff;
    font-size: 10px;
    text-transform: capitalize;
    width: 165px;
    word-break: break-word;
  }

  .stringTipContainer::before {
    left: 40% !important;
    width: 10px !important;
    height: 10px !important;
    top: 85% !important;

    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1) !important;
  }

  .tooltipContainer > label {
    border-bottom: 2px solid #e6e6e6;
    margin-top: 4px;
  }

  /*
     ----   tooltip position classes  -----------------
    */

  .default {
    top: 6px;
    left: 70%;
  }

  .default::before {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -9px;
    top: 5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .bottom-center {
    top: 35px;
    left: -128px;
  }

  .bottom-center::before {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 48%;
    top: -10px;
    box-shadow: -1px -1px 1px #e6e6e6;
  }

  /* ------------------------- -------------------*/

  /* .tooltipContainer>.stringData {} */

  .tooltipContainer > .objectData {
    height: 200px;
    width: 240px;
    overflow: auto;
  }

  /* .objectData>ul {} */

  .objectData > ul > li {
    text-align: left;
    margin-bottom: 6px;
    padding: 4px 0;
  }

  .objectData > ul > li > label {
    display: block;
    color: #458fb6;
    font-family: "Nunito-Regular";
    border-bottom: 1px solid #e6e6e6;
    padding-left: 7px;
    text-transform: capitalize;
  }

  .objectData > ul > li > span {
    padding-left: 8px;
    display: block;
  }

  .tooltipObjDiv {
    /*padding: 3px 5px;*/
    padding: 0 0 5px 0;
  }

  .tooltipObjDiv > label {
    font-size: 11px;
    color: #808080;
    padding: 2px 8px;
    background-color: #f1f1f1;
    display: block;
    font-family: "Nunito-Regular";
  }

  .tooltipObjDiv > span {
    font-size: 12px;
    font-family: "Nunito-Regular";
  }

  .tooltip_span {
    white-space: normal !important;
  }
</style>
<div
  ng-transclude
  ng-mouseover="isToolTipVisible = true && toolTipData"
  ng-mouseleave="isToolTipVisible = false"
></div>
<div
  ng-show="isToolTipVisible"
  ng-style="getToolTipWidth();adjustPosition();"
  ng-mouseover="isToolTipVisible = true"
  ng-mouseleave="isToolTipVisible = false"
  class="tooltipContainer"
  ng-class="getClassBasedOnPosition()"
>
  <label ng-if="title != ''">{{title}}</label>
  <div ng-if='toolTipDataType == "string"' class="stringData">
    <span class="tooltip_span">{{toolTipData}}</span>
  </div>
  <div ng-if='toolTipDataType == "object"' class="objectData">
    <ul>
      <li ng-repeat="(label,value) in toolTipData track by $index">
        <label>{{label}}</label>
        <span ng-if="checkDataType('string', value)"
          >{{value==''?'-':value}}</span
        >
        <div
          class="tooltipObjDiv"
          ng-repeat="(objKey,keyVal) in value track by $index"
          ng-if="checkDataType('object', value)"
        >
          <label>{{objKey}}</label>
          <span>{{keyVal}}</span>
        </div>
      </li>
    </ul>
  </div>
  <!--    <div ng-if='toolTipDataType == "array"' class='arrayData'>
            <ul>
                <li ng-repeat="item in toolTipData">
                    {{item}}
                </li>
            </ul>
        </div>-->
</div>
